body {
    text-align: center;
}

.Viewer {
    border: 0px solid black;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    display: inline-block;
    left: 0px;
    bottom: -70px;
    background-color: green;
    color: white;
    text-decoration: none;
}

.Viewer:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.Viewer .Showpop {
    visibility: hidden;
    width: 150px;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    bottom: 45px;
    left: 50px;
    margin-left: -80px;
}

.Viewer .Showpop::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 75px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gray transparent transparent;
}

.Viewer .show {
    visibility: visible;
}
